---
import AddDataForm from '../components/AddDataForm';
import DeleteDataForm from '../components/DeleteDataForm';
import RetrieveDataForm from '../components/RetrieveDataForm';
import RetrieveSpecificDataForm from '../components/RetrieveSpecificDataForm';
import UpdateDataForm from '../components/UpdateDataForm';
import Layout from '../layouts/Layout.astro';
---

<Layout>
    <div class='relative flex flex-col gap-5 m-2 p-2'>
        <div class='relative p-10 m-10'>
            <!-- Add student data -->
            <AddDataForm client:load />
        </div>
        <div class='relative p-10 m-10'>
            <!-- Update student data -->
            <UpdateDataForm client:load />
        </div>
        <div class='relative p-10 m-10'>
            <!-- Delete student data -->
            <DeleteDataForm client:load />
        </div>
        <div class='relative p-10 m-10 left-[2.45rem]'>
            <!-- Retrieve student data -->
            <RetrieveDataForm client:load />
        </div>
        <div class='relative p-10 m-10'>
            <!-- Retrieve student data by ID -->
            <RetrieveSpecificDataForm client:load />
        </div>
    </div>
</Layout>
