---
import AddDataForm from '../components/AddDataForm';
import DeleteDataForm from '../components/DeleteDataForm';
import RetrieveDataForm from '../components/RetrieveDataForm';
import RetrieveSpecificDataForm from '../components/RetrieveSpecificDataForm';
import UpdateDataForm from '../components/UpdateDataForm';
import Layout from '../layouts/Layout.astro';
---

<Layout>
    <div class='relative flex flex-col gap-5 m-2 p-2'>
        <div class='relative p-10 m-10'>
            <!-- Add student data -->
            <AddDataForm client:load />
        </div>
        <div class='relative p-10 m-10'>
            <!-- Update student data -->
            <UpdateDataForm client:load />
        </div>
        <div class='relative p-10 m-10'>
            <!-- Delete student data -->
            <DeleteDataForm client:load />
        </div>
    </div>
    <!-- <div class='absolute flex flex-col space-x-12 p-10 m-10'> -->
        <!-- Get student data -->
        <!-- <RetrieveDataForm client:load /> -->
        <!-- Get student data by ID -->
        <!-- <RetrieveSpecificDataForm client:load /> -->
    <!-- </div> -->
</Layout>
