---
import Metadata from '../components/Metadata.astro'
import '../styles/global.css'
---

<Metadata
    title='Student API Interface'
    favicon='/favicon.svg'
    description='A web app for interacting with the Student API'
/>
<body class='antialiased'>
    <slot /> <!-- Do not remove the `<slot>` element (Unless you know what you are doing) -->
</body>
